*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

.content-box {

  background-color: coral;
  width:400px;
  height: 300px;
  padding:10px;
  border: 10px dashed brown;
  margin: 10px; 
  box-sizing: content-box;
}

.border-box {

  background-color: pink;
  width:400px;
  height: 300px;
  padding:10px;
  border: 10px dashed palegreen;
  margin: 10px; 
  box-sizing: border-box;
}