*{
    box-sizing: content-box;
}
body{
    background-color:#ffe0e9;
    color:#FF90BB;
    margin: 60px;
    font-size: larger;

   
}
h1 {
    color: #9d8189;
}
h3{
    color:#FF2171;
}
.content-box {

    background-color: #FFFAD7;
    box-sizing: content-box;
    border:20px pink;
    border-radius: 13px;

    padding: 40px 30px 30px 20px ;

    max-width: 100%;

    overflow: auto;

    text-align: justify;
    line-height: auto;
  }
