*{
    box-sizing: content-box;
}
body{
    background-color:#ffe0e9;
    color:#FF90BB;
    margin: 60px;
    font-size: larger;
    font-family: 'Bitter', serif;
   
}
h1 {
    color: #FF2171;
}
.content-box {

    background-color: #FFFAD7;
    width:500px;
    height: 500px;
    padding:10px;
    border: 10px dashed #FFE4A7;
    margin: 10px; 
    box-sizing: content-box;
  }
