*{
    box-sizing: content-box;
}
body{
    background-color:#ffe0e9;
    color:#ff99b6;
    margin: 60px;
    font-size: larger;
    font-family: 'Bitter', serif;
   
}
h1 {
    color: #FF9EAA ;
}
.content-box {

    background-color: coral;
    width:400px;
    height: 300px;
    padding:10px;
    border: 10px dashed brown;
    margin: 10px; 
    box-sizing: content-box;
  }
