body{
    background-color: black;
    color:white ;
    margin: 30px;

    font-family: 'Bitter', serif;
}

img{
   max-width: 100%;
}

h1 {
    color: hotpink;
}
p{
    color:lightsalmon;
    background-color: blanchedalmond;
    font-size: 25px;
   
    border:50px groove pink;
    border-radius: 13px;
    /* border radius rounds the border */

    padding: 40px 30px 30px 20px ;

    max-width: 500px;

    overflow: auto;

    text-align: justify;
    line-height: 45px;

   

}

/* class uses . and id uses hashtag */
.specialthing {
    color:aqua(48, 234, 159);
    background-color: whitesmoke;
}
/* css rules that are further down in document have higher specificity */
.neat{
    color:hotpink;
}

.frogs{
    font-weight: bold;
    text-decoration: underline wavy;
    font-style: italic;

    color:coral;
}

.dim {
    background-color: khaki;
    padding: 10px;
    margin: 10px;

    width: 200px;
    height: 200px;
}

.spam {
    background-color: darkslategray;
}