* {
  box-sizing: border-box;
}
body{
  background-color: black;
  padding:3px;
  color:#FFFFFF; 
}
.eyeball
{
  display: block;
  margin-left: auto;
  margin-right: auto;  
}
.brain{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.brain-box{
  background-color: black;
  height:30%;
  display:flex;
  justify-content: space-evenly;
  cursor: pointer;

  padding: 175px
  
}
.brain-item:hover {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 300px;
  border: 3px solid white;
  padding: 10px;
  background-color: black;
  font-size: 20px;
}
.back-button{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}