* {
  box-sizing: border-box;
}

.container {
  background-color: lightpink;
  padding: 10px;

  height: 500px;

  display: flex;
  flex-direction:row;
  flex-wrap: wrap;

  justify-content: center;
  align-content: center;
  gap: 10px;
}

.item {
  background-color: lightyellow;
  padding: 10px;
  border: 1px solid;
 
 
  width: 200px;
}