* {
  box-sizing: border-box;
}
body{
  margin:0
}
.life{
  background-color: lightblue;
  width: 200px;
  height: 200px;

  animation: living 5s 1s infinite alternate linear;
}
@keyframes living {
  0% {
    background-color: lightslategray;
  }
  100%{
    background-color: pink;
  }
}
.container{
  background-color: lightslategray;
  height:100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.circle{
  background-color: darkseagreen;
  width: 15vw;
  height: 15vw;
  border-radius: 100%;
  animation: pulse 2s infinite alternate;
}
@keyframes pulse{
  0% {
    background-color: darkseagreen;
    transform: scale(1);
  }
  100%{
    background-color: rgb(255,255,115);
    transform: scale(2);
}
}

.square{
  background-color: darkseagreen;
  width: 15vw;
  height: 15vw;
  animation: spin 2s infinite linear;
}

@keyframes spin {
  0% {
    transformation: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
  
}
.mover {
  background-color: darkseagreen;
  width: 15vw;
  height: 3vw;
  position: fixed;
  bottom:0;
  left: 0;
  animation: move 3s infinite;
}
@keyframes move {
  0%{
    transform:translateX(-15vw);
  
  }
  100%{
    transform: translateX(100vw);
  }
}